---
function getAge(_birthdate: string) {
    const today = new Date();
    const birthdate = new Date(_birthdate);
    const diff = today.getFullYear() - birthdate.getFullYear();

    const celebratedBirthday =
        today.getMonth() > birthdate.getMonth() ||
        (today.getMonth() === birthdate.getMonth() &&
            today.getDate() >= birthdate.getDate());

    return celebratedBirthday ? diff : diff - 1;
}

const age = getAge("2008-04-18");
---

<span>{age}</span>
