---
import type { HTMLAttributes } from "astro/types";

const { class: className, ...attr } = Astro.props;

interface Props extends HTMLAttributes<"a"> {
    class?: string;
}
---

<a
    {...attr}
    class:list={[
        "inline-block font-mono underline hover:no-underline",
        className,
    ]}>
    <slot />
</a>
