---
import Card from "@components/Card.astro";
---

<div class="flex w-full flex-row flex-wrap justify-center gap-8 ~px-8/32">
    <Card
        icon="skill-icons:twitter"
        title="Twitter"
        buttons={[
            {
                href: "https://twitter.com/ww_whisp",
                text: "@ww_whisp",
            },
        ]}>
        Currently not much activity here, but i use it sometimes
    </Card>
    <Card
        icon="skill-icons:github-dark"
        title="GitHub"
        buttons={[
            {
                href: "https://github.com/itswhisp",
                text: "@itswhisp",
            },
        ]}>
        Where you can explore my public projects at
    </Card>

    <Card
        icon="skill-icons:discord"
        title="Discord"
        buttons={[
            {
                href: "https://discordapp.com/app",
                text: "Open Discord app",
            },
        ]}>
        If you want to talk with me, you can add me on Discord as
        <strong>@ww_whisp!</strong>
    </Card>
    <Card
        icon="fluent:mail-16-filled"
        title="Email"
        buttons={[
            {
                href: "mailto:ag.whisp@gmail.com",
                text: "ag.whisp@gmail.com",
            },
        ]}>
        If you want to reach out, contact me through my personal email!
    </Card>
</div>
