---
import Card from "@components/Card.astro";
---

<div class="flex w-full flex-row flex-wrap justify-center gap-8 ~px-8/32">
    <Card
        icon="skill-icons:astro"
        title="Astro"
        buttons={[
            {
                href: "https://astro.build/",
                text: "Website",
            },
        ]}>
        Static site generator used for this website!
    </Card>
    <Card
        icon="skill-icons:svelte"
        title="Svelte"
        buttons={[
            {
                href: "https://svelte.dev/",
                text: "Website",
            },
        ]}>
        A JavaScript framework for building reactive user interfaces
    </Card>
    <Card
        icon="skill-icons:tailwindcss-dark"
        title="Tailwind CSS"
        buttons={[
            {
                href: "https://tailwindcss.com/",
                text: "Website",
            },
        ]}>
        Utility-first CSS framework i use for pretty much everything
    </Card>
    <Card
        icon="skill-icons:arch-dark"
        title="Arch Linux"
        buttons={[
            {
                href: "https://archlinux.org/",
                text: "Website",
            },
        ]}>
        A lightweight yet customizable linux distro
    </Card>
    <Card
        icon="skill-icons:linux-dark"
        title="Manjaro Linux"
        buttons={[
            {
                href: "https://manjaro.org/",
                text: "Website",
            },
        ]}>
        An easy-to-use arch linux based distro, often my go-to
    </Card>
</div>
