---
const { class: className, cursor = false } = Astro.props;

interface Props {
    class?: string;
    cursor?: boolean;
}
---

<span class:list={["font-mono font-bold lowercase", className]}>
    <slot />
    {cursor && <span class="cursor">_</span>}
</span>

<style>
    @keyframes blink {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .cursor {
        animation: blink 0.9s step-start infinite;
    }
</style>
