---
const { title } = Astro.props;

interface Props {
    title: string;
}
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="overflow-x-hidden bg-black text-white">
        <slot />
    </body>
    <style is:global>
        @font-face {
            src: url("/fonts/Medium.woff2") format("woff2");
            font-family: "Medium";
            font-display: block;
        }

        @font-face {
            src: url("/fonts/GeistMono-Variable.ttf") format("truetype");
            font-family: "Geist Mono";
            font-weight: normal;
            font-display: swap;
        }

        ::-webkit-scrollbar {
            display: none;
        }

        * {
            user-select: none;
            scroll-behavior: smooth;
            scrollbar-width: none;
            -webkit-user-drag: none;
            -ms-overflow-style: none;
            cursor:
                url("/img/cursor.svg") 6 14,
                default;
        }
    </style>
</html>
